In [2]:
a=[]
a1=list()
b=()
b1=tuple()

In [3]:
t1 = (1, 2, 'a', 'b')

In [4]:
t1[0]=10 #값 변환 불가

TypeError: 'tuple' object does not support item assignment

In [ ]:
x , y = min_max(10,50)
#원래는 (x,y)=min_max(10,50) 이라 써야하지만, 파이썬에선 튜플 괄호를 생략가능

In [6]:
b2={'key':10}
b2['key']

10

In [8]:
b2[3]=[1,2,3]
b2

{'key': 10, 3: [1, 2, 3]}

In [11]:
#키 값만 얻고 싶을 때
a = {'name':'jisoo','phone':'01083844027','birth':'0106'}
a.keys()

dict_keys(['name', 'phone', 'birth'])

In [12]:
#값만 얻고 싶을 때
for k in a.keys():
    print(a[k])

jisoo
01083844027
0106

In [13]:
list(a.keys())

['name', 'phone', 'birth']

In [14]:
#쌍으로 얻고 싶을 때
a.items()

dict_items([('name', 'jisoo'), ('phone', '01083844027'), ('birth', '0106')])

In [15]:
#다 없애고 싶을 때
a.clear()

dict_values(['jisoo', '01083844027', '0106'])

In [17]:
#키 값이 있는지 여부
'name' in a

True

In [18]:
'email' in a

False

In [19]:
#레벨수준 확인할 때 set함수 많이 사용 (중복허용x,순서x)
s2 = set("hello")
s2

{'e', 'h', 'l', 'o'}

In [20]:
s1 = set([1, 2, 3, 4, 5, 6])
s2 = set([4, 5, 6, 7, 8, 9])

In [23]:
#교집합
s1 & s2
s1.intersection(s2)

{4, 5, 6}

In [26]:
#합집합
s1|s2
s1.union(s2)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [28]:
#차집합
s1 - s2
s1.difference(s2)

{1, 2, 3}

In [29]:
s2-s1

{7, 8, 9}

In [32]:
a=True
b=False

In [36]:
print(type(a))
print(type(b))

<class 'bool'>
<class 'bool'>

In [39]:
"" == True
#내부적으로 ""를 거짓이라 함.(값이 없는 것들)
#"",[],(),{},0,None 거짓

False

In [40]:
bool([])

False

In [41]:
money=True
if money :
    print("택시타고가")
else:
    print("걸어가")

택시타고가

In [43]:
if "":
    print("참")
else:
    print("거짓")

거짓

In [44]:
money = 2000
card = True
if money >= 3000 or card:
    print("take a taxi")
else:
    print("just walk")

take a taxi

In [46]:
pocket = ['paper','money','cellphone']
if 'money' not in pocket:
    print("카드를 꺼내라")

In [47]:
pocket = ['paper','cellphone']
card = True
if 'money' in pocket:
    print('택시타')
elif card:
    print('택시타')
else:
    print('걸어가')

택시타

In [48]:
pocket = ['paper','cellphone']
card = True
if 'money' in pocket or card:
    print('택시타')
else:
    print('걸어가')

택시타

In [49]:
treeHit = 0
while treeHit < 10:
    treeHit = treeHit +1
    print(f"나무를 {treeHit}번 찍었습니다")
    if treeHit == 10:
        print("나무 넘어갑니다")

나무를 1번 찍었습니다
나무를 2번 찍었습니다
나무를 3번 찍었습니다
나무를 4번 찍었습니다
나무를 5번 찍었습니다
나무를 6번 찍었습니다
나무를 7번 찍었습니다
나무를 8번 찍었습니다
나무를 9번 찍었습니다
나무를 10번 찍었습니다
나무 넘어갑니다

In [51]:
coffee = 10
money = 300
while money:
    print("돈받았으니, 커피를 줍니다")
    coffee = coffee -1
    print(f"남은 커피양은 {coffee}개 입니다")
    if coffee == 0:
        print("커피가 없으니 판매를 중지합니다")
        break

돈받았으니, 커피를 줍니다
남은 커피양은 9개 입니다
돈받았으니, 커피를 줍니다
남은 커피양은 8개 입니다
돈받았으니, 커피를 줍니다
남은 커피양은 7개 입니다
돈받았으니, 커피를 줍니다
남은 커피양은 6개 입니다
돈받았으니, 커피를 줍니다
남은 커피양은 5개 입니다
돈받았으니, 커피를 줍니다
남은 커피양은 4개 입니다
돈받았으니, 커피를 줍니다
남은 커피양은 3개 입니다
돈받았으니, 커피를 줍니다
남은 커피양은 2개 입니다
돈받았으니, 커피를 줍니다
남은 커피양은 1개 입니다
돈받았으니, 커피를 줍니다
남은 커피양은 0개 입니다
커피가 없으니 판매를 중지합니다

In [52]:
a = [(1,2),(3,4),(5,6)]
for first,last in a:
    print(first+last)

3
7
11

In [54]:
marks = [90,25,67,45,80]
number = 0
for mark in marks:
    number=number+1
    if mark > 60:
        print(f"{number}번 학생은 합격입니다")
    else:
        print(f"{number}번 학생은 불합격입니다")

1번 학생은 합격입니다
2번 학생은 불합격입니다
3번 학생은 합격입니다
4번 학생은 불합격입니다
5번 학생은 합격입니다

In [59]:
marks = [90,25,67,45,80]
number = 0
for mark in marks:
    number= number+1
    if mark <60:
        continue
    print(f"{number}번 학생 축하합니다. 합격입니다")

1번 학생 축하합니다. 합격입니다
3번 학생 축하합니다. 합격입니다
5번 학생 축하합니다. 합격입니다

In [56]:
sum = 0
for i in range(1,101):
    sum = sum + i
    
print(sum)

5050

In [57]:
a = [1,2,3,4]
result = [num *3 for num in a]
print(result)

[3, 6, 9, 12]

In [58]:
a = [1,2,3,4]
result = [num *3 for num in a if num%2 == 0]
print(result)

[6, 12]